<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="styles/style.css">
        <title>text to speech</title>
    </head>

    <body>
        <div class="container">
            <h1>💬 Text to speech 💬</h1>
            <form action="/" method="post">
                <textarea name="text" id="" cols="50" rows="10" palceholder="Type a text that will be converted to mp3" required="required"></textarea>
                <button type="submit">Convert to Audio</button>
            </form>
        </div>
    </body>

</html>